.modal-body{
    background-color: #3c3c3c;
    width: 30%;
    position:absolute;
    left:35%;
    top: 130px;
    border-radius: 5%;
}
#imgu{
    width: 10%;
    height: 10%;
}
.card-title{
    position: relative;
    left: 100px;
}
#global{
    background-color: #3c3c3c;

}
#adminpic{
    position: absolute;
    top: 20px;
    height: 110px;
    width: 110px;
right: 46%;
}

