
.table {
    min-width: 1000px !important;
    width: 80%;
height:80% ;
margin-left: auto;
margin-right: auto;
border-radius: 1em;
  overflow: hidden; }
    .table thead th {
      border: none;
      padding: 20px 30px;
      font-size: 14px;
      color: #fff;
      border-bottom: 4px solid #2b3035; }
    .table tbody tr {
      margin-bottom: 10px; }
    .table tbody th, .table tbody td {
      border: none;
      padding: 20px 30px;
      border-bottom: 3px solid #2b3035;
      font-size: 14px; }
      #prodpic {
        border-radius: 50%;
      }
      .namepos{
        display: relative;
       
          
      }
      .show{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom:60 px;
      
  }
  #conf{
      position: relative;
  }
  #mod{
    position: absolute;
    right: 280px;
    border-radius: 35%;
   
    
}
#del{
    position: absolute;
    border-radius: 35%;
}
#adminpic{
    height: 200px;
    display: block;
    width: 200px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    
}
.ledty{
  background-color:  #3c3c3c;  
}
